/*
Grayscale Design palette:
https://grayscale.design/app?lums=98.00,93.53,86.50,75.82,59.98,39.02,23.18,12.50,5.47,1.00&palettes=%23b300ff,%23b02384,%2348ada8,%23586934,%23fcce02,%23edadbc,%237f81b5,%23262523&filters=0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0&names=purpl,pink,cyan,green,gold,red,blue,grey&labels=,,,,,,,
*/

:root {
  --grayscale-50:  #fdfdfd;
  --grayscale-100: #f8f8f8;
  --grayscale-200: #efefef;
  --grayscale-300: #e2e2e2;
  --grayscale-400: #cbcbcb;
  --grayscale-500: #a8a8a8;
  --grayscale-600: #848484;
  --grayscale-700: #636363;
  --grayscale-800: #424242;
  --grayscale-900: #191919;

  --purple-50: #fefcff;
  --purple-100: #fcf6ff;
  --purple-200: #f8e9ff;
  --purple-300: #f3d8ff;
  --purple-400: #eab9ff;
  --purple-500: #da84ff;
  --purple-600: #c642ff;
  --purple-700: #9d00e0;
  --purple-800: #6c009b;
  --purple-900: #2f0043;

  --pink-50: #fefbfd;
  --pink-100: #fdf7fb;
  --pink-200: #fceff8;
  --pink-300: #f8daee;
  --pink-400: #f1bae0;
  --pink-500: #e681c6;
  --pink-600: #db49ad;
  --pink-700: #ad2281;
  --pink-800: #79185a;
  --pink-900: #310a25;

  --cyan-50: #fafdfd;
  --cyan-100: #f3fafa;
  --cyan-200: #e7f5f4;
  --cyan-300: #cfebea;
  --cyan-400: #9cd6d3;
  --cyan-500: #59bab5;
  --cyan-600: #3d928e;
  --cyan-700: #2e6e6b;
  --cyan-800: #1f4a48;
  --cyan-900: #0c1c1b;

  --green-50: #fefefd;
  --green-100: #f8faf5;
  --green-200: #e8eedc;
  --green-300: #dce5ca;
  --green-400: #c3d2a4;
  --green-500: #97b060;
  --green-600: #758b45;
  --green-700: #5b6c35;
  --green-800: #3c4723;
  --green-900: #181d0e;

  --gold-50: reddf4;
  --gold-100: red4c6;
  --gold-200: #feefaa;
  --gold-300: #fee267;
  --gold-400: #f2c602;
  --gold-500: #caa502;
  --gold-600: #9f8201;
  --gold-700: #766101;
  --gold-800: #514201;
  --gold-900: #1e1900;

  --red-50: #fefcfd;
  --red-100: #fdf8f9;
  --red-200: #fbebef;
  --red-300: #f7dae1;
  --red-400: #f2c4cf;
  --red-500: #e68ba0;
  --red-600: #da5776;
  --red-700: #b72849;
  --red-800: #7f1c33;
  --red-900: #340b15;

  --blue-50: #fcfcfd;
  --blue-100: #f8f8fb;
  --blue-200: #eeeef5;
  --blue-300: #e0e0ed;
  --blue-400: #c7c8df;
  --blue-500: #a0a1c8;
  --blue-600: #797bb1;
  --blue-700: #5c5e9f;
  --blue-800: #3e406c;
  --blue-900: #161625;

  --grey-50: #fdfdfd;
  --grey-100: #f8f8f8;
  --grey-200: #efefee;
  --grey-300: #e3e2e0;
  --grey-400: #cdcbc8;
  --grey-500: #acaaa5;
  --grey-600: #86837b;
  --grey-700: #67645e;
  --grey-800: #44423e;
  --grey-900: #1a1918;

  /* Website width */
  --main-width: 45rem;

  /* Responsive type scale : 1.2 */
 --fz-base: 1rem;
 --fz-huge: 3.583rem;
 --fz1: 2.488rem;
 --fz2: 2.074rem;
 --fz3: 1.728rem;
 --fz4: 1.44rem;
 --fz5: 1.2rem;
 --fz6: 0.833rem;
 --fz7: 0.579rem;

  /* Responsive line-height */
  --lh: 1.5;
}



@media (min-width: 64rem) {
  :root {
    /* Website width */
    --main-width: 54rem;


    /* Responsive type scale */

    --fz-base: 1.2rem;
    --fz-huge: 4.768rem;
    --fz1: 3.052rem;
    --fz2: 2.441rem;
    --fz3: 1.953rem;
    --fz4: 1.563rem;
    --fz5: 1.25rem;
    --fz6: 0.8rem;
    --fz7: 0.512rem;

    /* Responsive line-height */
    --lh: 1.75;
  }
}

:root.dark-theme {
  --grey-900: #fdfdfd;
  --grey-800: #f8f8f8;
  --grey-700: #efefee;
  --grey-600: #e3e2e0;
  --grey-500: #cdcbc8;
  --grey-400: #acaaa5;
  --grey-300: #86837b;
  --grey-200: #67645e;
  --grey-100: #44423e;
  --grey-50:  #1a1918;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: red;
  }
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* Ugly fix for the grid broken by pre blocks */
  min-width: 0;
}

::selection {
  color: var(--pink-100);
  background-color: var(--purple-800);
}

body {
  font-family: 'Bitter', serif;
  font-weight: 400;
  line-height: var(--lh);
  background-color: var(--grey-100);
  color: var(--grey-900);
}

a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(
    transparent,
    transparent 3.5px,
    var(--grey-700) 3.5px,
    var(--grey-700) calc(3.5px + .5pt),
    transparent calc(3.5px + .5pt),
    transparent
   );
  text-shadow:
    -.5px 0 0 var(--grey-100),
    .5px 0 0 var(--grey-100),
    -1px 0 0 var(--grey-100),
    1px 0 0 var(--grey-100),
    -1.5px 0 0 var(--grey-100),
    1.5px 0 0 var(--grey-100),
    -2px 0 0 var(--grey-100),
    2px 0 0 var(--grey-100),
    -2.5px 0 0 var(--grey-100),
    2.5px 0 0 var(--grey-100);
  background-position: left bottom;
  background-size: 100% 6px;
  background-repeat: no-repeat;
  transition: all 0.5s
}

a:focus,
a:hover {
  color: var(--purple-800);
  background-image: linear-gradient(
    transparent,
    transparent 3.5px,
    var(--purple-600) 3.5px,
    var(--purple-600) calc(3.5px + 2pt),
    transparent calc(3.5px + 2pt),
    transparent
   );
  text-shadow:
    -.5px 0 0 var(--grey-100),
    .5px 0 0 var(--grey-100),
    -1px 0 0 var(--grey-100),
    1px 0 0 var(--grey-100),
    -1.5px 0 0 var(--grey-100),
    1.5px 0 0 var(--grey-100),
    -2px 0 0 var(--grey-100),
    2px 0 0 var(--grey-100),
    -2.5px 0 0 var(--grey-100),
    2.5px 0 0 var(--grey-100);
}

a:active {
  color: var(--pink-700)
}

code {
  font-family: 'Recursive', sans-serif;
  font-style: italic;
  font-weight: 300;
  background-color: var(--grey-200);
  color: var(--grey-900);
  padding: 0 .5rem 0 .5rem;
  border-radius: 10000rem;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--fz1);
}

h1,
.t1 {
  font-size: var(--fz2);
  margin-bottom: var(--fz6);
  line-height: 1.2;
}

h2,
.t2 {
  font-size: var(--fz3);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

h3,
.t3 {
  font-size: var(--fz4);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

h4,
.t4 {
  font-size: var(--fz5);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

h5,
.t5 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
  line-height: 1.3;
  text-transform: uppercase;
}

h6,
.t6 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

p {
  font-size: var(--fz-base);
  margin-bottom: var(--fz-base);
  margin-top: 0
}

ol, ul, dl {
  font-size: var(--fz-base);
  padding-left: var(--fz1);
  margin-bottom: var(--fz-base);
}

pre {
  margin: 0;
}


/* Page */

.footer {
  color: var(--grey-700);
}

.main {
  max-width: var(--main-width);
  margin: 0 auto;
}

.content__title {
  font-size: var(--fz-huge);
  margin-bottom: var(--fz-huge);
  color: var(--grey-800)
}

.content__title--home {
  font-size: var(--fz4);
  margin-bottom: var(--fz1);
}


/* Header */

.header {
  margin-bottom: calc(var(--fz-huge) * 2);
  margin-top: var(--fz-huge);
  display: flex;
  align-items: baseline;
  gap: var(--fz5)
}

.header__sitename {
  font-size: var(--fz1);
  font-weight: 300;
  margin-bottom: 0;
  text-transform: lowercase;
  text-decoration: none;
  line-height: 1.3
}

.header__description {
  font-size: var(--fz-base);
}







/* Code */

.highlight {
  background-color: var(--blue-100);
  border: 1px solid var(--grey-300);
  border-right: 0;
  border-left: 0;
  overflow-x: auto;
  margin-bottom: var(--fz2);
}

.highlight code {
  font-size: var(--fz-base);
  font-weight: 400;
  color: var(--grey-800);
  background-color: initial;
  padding: initial;
  border: initial
}


/* Code line numbers */

.lntable {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: inherit;
}

.lntable td {
  padding-left: 1rem
}

.lntable td:first-child {
  border-right: 1px var(--grey-300) solid;
  padding: .5rem .25rem .5rem 1rem;
  background-color: var(--blue-100);
}

.lnt {
  color: var(--grey-500);
  text-align: right;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin-top: 0;
  margin-bottom: var(--fz3);
  padding: 0;
  display: flex;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumb__leaf--has-link::after {
  content: "/";
  margin: 0 .5rem 0 .5rem;
  color: var(--grey-400)
}


/* Commented code */

.commented-code {
  position: relative;
  padding: 2.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  border-radius: .3rem;
  border-top: 1px solid var(--grey-300);
  margin-bottom: var(--fz4);
}

.commented-code + .commented-code {
  margin-top: var(--fz1);
}

.commented-code .highlight {
  margin-bottom: var(--fz7);
  border-radius: 0;
  background-color: white;
}

.commented-code__code {}

.commented-code__caption-meta {
  font-family: 'Recursive', sans-serif;
  position: absolute;
  bottom: calc(100% - 1.9rem);
  display: flex;
  justify-content: flex-end;
  gap: var(--fz-base);
}

.commented-code__caption {
  font-style: normal;
  /* padding: 0 .8rem .8rem .8rem; */
}

.commented-code__caption-content {
  font-size: .9rem;
  color: var(--grey-800);
}

.commented-code__caption-content::before {
  content: "💬";
  margin-right: calc(var(--fz6) / 2);
}

.commented-code__lang {
  font-size: .8rem;
  font-weight: normal;
  font-style: normal;
  background-color: var(--blue-100);
  box-shadow: 0 0 0 1px var(--blue-300);
  display: inline-block;
  padding: 0 .5rem 0 .5rem;
  border-radius: 10000rem;
}

.commented-code__filename {
  font-size: .8rem;
  font-style: normal;
  color: var(--blue-800)
}


/* Commented image */

.commented-image {
  border-top: 1px solid var(--grey-300);
  border-bottom: 1px solid var(--grey-300);
  background-color: white;
  margin-bottom: var(--fz3);
  border-radius: .25rem;
  overflow: hidden
}

.commented-image img {
  border-bottom: 1px solid var(--grey-300);
}

.commented-image figcaption {
  padding: .8rem;
  font-size: .9rem;
  /* font-style: italic; */
}

.commented-image figcaption p {
  margin-bottom: 0
}


/* Emphasis */

.emphasis {
  background-color: var(--cyan-100);
  color: var(--cyan-800);
  border: 1px solid var(--cyan-300);
  border-radius: .25rem;
  padding: var(--fz6);
  margin-bottom: var(--fz2);
  margin-top: var(--fz2)
}

.emphasis *:first-child  {
  margin-top: 0;
}
.emphasis *:last-child {
  margin-bottom: 0;
}

/* Posts list */

.posts__list {
  list-style: none;
  padding: 0;
}

.post {
  margin-bottom: var(--fz4);
}

.post__title {
  font-size: var(--fz-base);
  margin: 0;
  font-weight: 400;
}

.post__date {
  font-size: var(--fz6);
  font-style: italic;
  font-weight: 300;
}

.post__summary {
  
}


/* Pager */

.pager {
  background-color: white;
  /* margin-top: var(--fz1); */
  margin-bottom: var(--fz1);
  margin-top: var(--fz1);
  padding: var(--fz4);
  display: flex;
  justify-content: space-between;
  color: var(--grey-700);
}

.pager__item a {
  text-decoration: none;
}

.pager__item-caption {
  display: block;
}


/* Tags */

.tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: var(--fz-base)
}
