/*
Grayscale Design palette:
https://grayscale.design/app?lums=98.00,93.53,86.50,75.82,59.98,39.02,23.18,12.50,5.47,1.00&palettes=%23b300ff,%23b02384,%2348ada8,%23586934,%23fcce02,%23edadbc,%237f81b5,%23262523&filters=0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0,0%7C0&names=purpl,pink,cyan,green,gold,red,blue,grey&labels=,,,,,,,
*/

:root {
  --grayscale-50: #f7f7f7;
  --grayscale-100: #ebebeb;
  --grayscale-200: #dedede;
  --grayscale-300: #d0d0d0;
  --grayscale-400: #c1c1c1;
  --grayscale-500: #b1b1b1;
  --grayscale-600: #9e9e9e;
  --grayscale-700: #878787;
  --grayscale-800: #6a6a6a;
  --grayscale-900: #3d3d3d;

  --purple-50: #f1f7ff;
  --purple-100: #e3ebfe;
  --purple-200: #d7ddfc;
  --purple-300: #cccdfa;
  --purple-400: #c3bbf6;
  --purple-500: #baa5f1;
  --purple-600: #b38ce9;
  --purple-700: #aa6bdd;
  --purple-800: #9e39ca;
  --purple-900: #581f85;

  --pink-50: #fef3f3;
  --pink-100: #fce9ea;
  --pink-200: #fad9de;
  --pink-300: #f7c6d1;
  --pink-400: #f3b1c6;
  --pink-500: #ed93b8;
  --pink-600: #e776af;
  --pink-700: #dd4aa1;
  --pink-800: #bf268f;
  --pink-900: #71154c;

  --cyan-50: #ffffff;
  --cyan-100: #d1f1eb;
  --cyan-200: #baeae3;
  --cyan-300: #88dcd2;
  --cyan-400: #64d1c8;
  --cyan-500: #37b9b3;
  --cyan-600: #34aeac;
  --cyan-700: #2d9496;
  --cyan-800: #237276;
  --cyan-900: #144243;

  --green-50: #ecf7e1;
  --green-100: #daf0ca;
  --green-200: #bce5a9;
  --green-300: #b3e2a5;
  --green-400: #8ed584;
  --green-500: #5cc359;
  --green-600: #42ac48;
  --green-700: #3c9449;
  --green-800: #327643;
  --green-900: #1b4422;

  --gold-50: #fff3c7;
  --gold-100: #ffe993;
  --gold-200: #ffe269;
  --gold-300: #f9cc02;
  --gold-400: #e8bb00;
  --gold-500: #d7ab00;
  --gold-600: #c99e00;
  --gold-700: #aa8400;
  --gold-800: #886800;
  --gold-900: #4b3900;

  --red-50: #fff4ef;
  --red-100: #ffe4db;
  --red-200: #ffdbd3;
  --red-300: #ffc4bc;
  --red-400: #feaca8;
  --red-500: #f99496;
  --red-600: #f27d88;
  --red-700: #e23f5a;
  --red-800: #cc2a50;
  --red-900: #731121;

  --blue-50: #dfffff;
  --blue-100: #a6f6ff;
  --blue-200: #9beaff;
  --blue-300: #8ddbff;
  --blue-400: #8ecdfc;
  --blue-500: #7eb5f5;
  --blue-600: #729eec;
  --blue-700: #6987e1;
  --blue-800: #5668d2;
  --blue-900: #323591;

  --grey-50: #f6f7f7;
  --grey-100: #e9ebec;
  --grey-200: #dcdfe1;
  --grey-300: #cdd1d4;
  --grey-400: #bdc2c6;
  --grey-500: #abb2b6;
  --grey-600: #979fa4;
  --grey-700: #7f8990;
  --grey-800: #636c72;
  --grey-900: #393e41;

  --light: #fff;

  /* Website width */
  --main-width: 45rem;

  /* Responsive type scale : 1.2 */
 --fz-base: 1rem;
 --fz-huge: 3.583rem;
 --fz1: 2.488rem;
 --fz2: 2.074rem;
 --fz3: 1.728rem;
 --fz4: 1.44rem;
 --fz5: 1.2rem;
 --fz6: 0.833rem;
 --fz7: 0.579rem;

  /* Responsive line-height */
  --lh: 1.5;
}



@media (min-width: 64rem) {
  :root {
    /* Website width */
    --main-width: 54rem;


    /* Responsive type scale */

    --fz-base: 1.2rem;
    --fz-huge: 4.768rem;
    --fz1: 3.052rem;
    --fz2: 2.441rem;
    --fz3: 1.953rem;
    --fz4: 1.563rem;
    --fz5: 1.25rem;
    --fz6: 0.8rem;
    --fz7: 0.512rem;

    /* Responsive line-height */
    --lh: 1.75;

  }
}

:root.dark-theme {

  --grayscale-50:  #f7f7f7;
  --grayscale-100: #ebebeb;
  --grayscale-200: #dedede;
  --grayscale-300: #d0d0d0;
  --grayscale-400: #c1c1c1;
  --grayscale-500: #b1b1b1;
  --grayscale-600: #9e9e9e;
  --grayscale-700: #878787;
  --grayscale-800: #6a6a6a;
  --grayscale-900: #3d3d3d;

  --purple-900: #f1f7ff;
  --purple-800: #e3ebfe;
  --purple-700: #d7ddfc;
  --purple-600: #cccdfa;
  --purple-500: #c3bbf6;
  --purple-400: #baa5f1;
  --purple-300: #b38ce9;
  --purple-200: #aa6bdd;
  --purple-100: #9e39ca;
  --purple-50:  #581f85;

  --pink-900: #fef3f3;
  --pink-800: #fce9ea;
  --pink-700: #fad9de;
  --pink-600: #f7c6d1;
  --pink-500: #f3b1c6;
  --pink-400: #ed93b8;
  --pink-300: #e776af;
  --pink-200: #dd4aa1;
  --pink-100: #bf268f;
  --pink-50:  #71154c;

  --cyan-900: #ffffff;
  --cyan-800: #d1f1eb;
  --cyan-700: #baeae3;
  --cyan-600: #88dcd2;
  --cyan-500: #64d1c8;
  --cyan-400: #37b9b3;
  --cyan-300: #34aeac;
  --cyan-200: #2d9496;
  --cyan-100: #237276;
  --cyan-50:  #144243;

  --green-900: #ecf7e1;
  --green-800: #daf0ca;
  --green-700: #bce5a9;
  --green-600: #b3e2a5;
  --green-500: #8ed584;
  --green-400: #5cc359;
  --green-300: #42ac48;
  --green-200: #3c9449;
  --green-100: #327643;
  --green-50:  #1b4422;

  --gold-900: #fff3c7;
  --gold-800: #ffe993;
  --gold-700: #ffe269;
  --gold-600: #f9cc02;
  --gold-500: #e8bb00;
  --gold-400: #d7ab00;
  --gold-300: #c99e00;
  --gold-200: #aa8400;
  --gold-100: #886800;
  --gold-50:  #4b3900;

  --red-900: #fff4ef;
  --red-800: #ffe4db;
  --red-700: #ffdbd3;
  --red-600: #ffc4bc;
  --red-500: #feaca8;
  --red-400: #f99496;
  --red-300: #f27d88;
  --red-200: #e23f5a;
  --red-100: #cc2a50;
  --red-50:  #731121;

  --blue-900: #dfffff;
  --blue-800: #a6f6ff;
  --blue-700: #9beaff;
  --blue-600: #8ddbff;
  --blue-500: #8ecdfc;
  --blue-400: #7eb5f5;
  --blue-300: #729eec;
  --blue-200: #6987e1;
  --blue-100: #5668d2;
  --blue-50:  #323591;

  --grey-900: #f6f7f7;
  --grey-800: #e9ebec;
  --grey-700: #dcdfe1;
  --grey-600: #cdd1d4;
  --grey-500: #bdc2c6;
  --grey-400: #abb2b6;
  --grey-300: #979fa4;
  --grey-200: #7f8990;
  --grey-100: #636c72;
  --grey-50:  #393e41;

  --light: var(--grey-50)
}


html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* Ugly fix for the grid broken by pre blocks */
  min-width: 0;
}

::selection {
  color: var(--pink-100);
  background-color: var(--purple-800);
}

html {
  padding: 1rem;
}

body {
  font-family: 'Bitter', serif;
  font-weight: 400;
  line-height: var(--lh);
  background-color: var(--grey-50);
  color: var(--grey-900);
}

a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(
    transparent,
    transparent 3.5px,
    var(--grey-700) 3.5px,
    var(--grey-700) calc(3.5px + .5pt),
    transparent calc(3.5px + .5pt),
    transparent
   );
  text-shadow:
    -.5px 0 0 var(--grey-50),
    .5px 0 0 var(--grey-50),
    -1px 0 0 var(--grey-50),
    1px 0 0 var(--grey-50),
    -1.5px 0 0 var(--grey-50),
    1.5px 0 0 var(--grey-50),
    -2px 0 0 var(--grey-50),
    2px 0 0 var(--grey-50),
    -2.5px 0 0 var(--grey-50),
    2.5px 0 0 var(--grey-50);
  background-position: left bottom;
  background-size: 100% 6px;
  background-repeat: no-repeat;
}

a:focus,
a:hover {
  color: var(--purple-800);
  background-image: linear-gradient(
    transparent,
    transparent 3.5px,
    var(--purple-600) 3.5px,
    var(--purple-600) calc(3.5px + 2pt),
    transparent calc(3.5px + 2pt),
    transparent
   );
}

a:active {
  color: var(--pink-700)
}

code {
  font-family: 'Recursive', sans-serif;
  font-weight: 300;
  padding: 0 .25rem 0 .25rem;
  border-radius: 10000rem;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--fz1);
}

h1,
.t1 {
  font-size: var(--fz2);
  margin-bottom: var(--fz6);
  line-height: 1.2;
}

h2,
.t2 {
  font-size: var(--fz3);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

h3,
.t3 {
  font-size: var(--fz4);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

h4,
.t4 {
  font-size: var(--fz5);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

h5,
.t5 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
  line-height: 1.3;
  text-transform: uppercase;
}

h6,
.t6 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
  line-height: 1.3;
}

p {
  font-size: var(--fz-base);
  margin-bottom: var(--fz-base);
  margin-top: 0
}

ol, ul, dl {
  font-size: var(--fz-base);
  padding-left: var(--fz1);
  margin-bottom: var(--fz-base);
}

pre {
  margin: 0;
}


/* Page */

.footer {
  color: var(--grey-700);
}

.main {
  max-width: var(--main-width);
  margin: 0 auto;
}

.main::after {
  content: "";
  display: block;
  width: calc(var(--fz-huge) * 3);
  height: calc(var(--fz-huge) * 3);
  background-image: radial-gradient(circle at 2px 2px, var(--grey-900) 2px, transparent 0);
  background-size: 1rem 1rem;
  background-position: .5rem .5rem;
  /* background-attachment: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content {
  padding-top: calc(var(--fz-huge) * 2);
  position: relative;
  z-index: 2;
}

.content__title {
  font-size: var(--fz-huge);
  margin-bottom: var(--fz-huge);
  color: var(--grey-900);
}

.content__title--home {
  font-size: var(--fz4);
  margin-bottom: var(--fz1);
}


/* Header */

.header {
  color: var(--grey-900);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  z-index: 2
}


.header__sitename {
  font-size: var(--fz1);
  font-weight: 300;
  margin-bottom: 0;
  text-transform: lowercase;
  text-decoration: none;
  line-height: 1.3;
  border: 3px solid currentColor;
  box-shadow: .5rem .5rem 0 0 currentColor;
  padding: .5rem 1rem;
  text-shadow: none;
  background: var(--grey-50);
  transition: all .3s ease-in-out
}

.header__sitename:focus,
.header__sitename:hover {
  box-shadow: .25rem .25rem 0 0 currentColor;
  border-color: currentColor;
  background-image: none;
  background-color: var(--light);
}

.header__description {
  font-size: var(--fz-base);
}

.header__links-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem
}







/* Code */

.highlight {
  border: 1px solid var(--grey-200);
  border-right: 0;
  border-left: 0;
  overflow-x: auto;
  margin-bottom: var(--fz2);
}

.highlight code {
  font-size: var(--fz-base);
  font-weight: 400;
  color: var(--grey-800);
  background-color: initial;
  padding: initial;
  border: initial
}


/* Code line numbers */

.lntable {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: inherit;
}

.lntable td {
  padding-left: 1rem
}

.lntable td:first-child {
  border-right: 1px var(--grey-300) solid;
  padding: .5rem .25rem .5rem 1rem;
}

.lnt {
  color: var(--grey-900);
  text-align: right;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin-top: 0;
  margin-bottom: var(--fz3);
  padding: 0;
  display: flex;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumb__leaf--has-link::after {
  content: "/";
  margin: 0 .5rem 0 .5rem;
  color: var(--grey-400)
}


/* Commented code */

.commented-code {
  position: relative;
  padding: 2.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  border-radius: .3rem;
  border-top: 1px solid var(--grey-100);
  margin-bottom: var(--fz4);
}

.commented-code + .commented-code {
  margin-top: var(--fz1);
}

.commented-code .highlight {
  margin-bottom: var(--fz7);
  border-radius: 0;
}

.commented-code__caption-meta {
  font-family: 'Recursive', sans-serif;
  position: absolute;
  bottom: calc(100% - 1.9rem);
  display: flex;
  justify-content: flex-end;
  gap: var(--fz-base);
}

.commented-code__caption {
  font-style: normal;
  /* padding: 0 .8rem .8rem .8rem; */
}

.commented-code__caption-content {
  font-size: var(--fz6);
  color: var(--grey-800);
}

.commented-code__caption-content::before {
  content: "💬";
  margin-right: calc(var(--fz6) / 2);
}

.commented-code__lang {
  font-size: .8rem;
  font-weight: normal;
  font-style: normal;
  background-color: var(--blue-50);
  display: inline-block;
  padding: 0 .5rem 0 .5rem;
  border-radius: 10000rem;
}

.commented-code__filename {
  font-size: .8rem;
  font-style: normal;
  color: var(--blue-800)
}


/* Commented image */

.commented-image {
  border-top: 1px solid var(--grey-300);
  border-bottom: 1px solid var(--grey-300);
  background-color: var(--light);
  margin-bottom: var(--fz3);
  border-radius: .25rem;
  overflow: hidden
}

.commented-image img {
  border-bottom: 1px solid var(--grey-300);
}

.commented-image figcaption {
  padding: .8rem;
  font-size: .9rem;
  /* font-style: italic; */
}

.commented-image figcaption p {
  margin-bottom: 0
}


/* Emphasis */

.emphasis {
  background-color: var(--gold-50);
  color: var(--gold-800);
  border: 1px solid var(--gold-100);
  padding: var(--fz6);
  margin-bottom: var(--fz2);
  margin-top: var(--fz2)
}

.emphasis *:first-child  {
  margin-top: 0;
}
.emphasis *:last-child {
  margin-bottom: 0;
}

/* Posts list */

.posts__list {
  list-style: none;
  padding: 0;
}

.post {
  margin-bottom: var(--fz4);
}

.post__title {
  font-size: var(--fz-base);
  margin: 0;
  font-weight: 400;
}

.post__date {
  font-size: var(--fz6);
  font-style: italic;
  font-weight: 300;
}

.post__summary {
  
}


/* Pager */

.pager {
  background-color: var(--light);
  /* margin-top: var(--fz1); */
  margin-bottom: var(--fz1);
  margin-top: var(--fz1);
  padding: var(--fz4);
  display: flex;
  justify-content: space-between;
  color: var(--grey-700);
}

.pager__item a {
  text-decoration: none;
}

.pager__item-caption {
  display: block;
}


/* Tags */

.tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: var(--fz-base)
}
