<figure class="commented-code">
  <div class="commented-code__code">
    {{ .Inner | markdownify }}
   </div> 

  <figcaption class="commented-code__caption">
    <div class="commented-code__caption-meta">  
      <em class="commented-code__lang" title="Type de fichier">{{ .Get "lang"}}</em>
      <em class="commented-code__filename" title="Position et nom du fichier">{{ .Get "filename"}}</em>
    </div>
    <div class="commented-code__caption-content">{{ .Get "caption"}}</div>
  </figcaption>
</figure>
