<!DOCTYPE html>
<html lang="{{ metadata.language }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ eleventyNavigation.title }} - {{ metadata.sitename }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/styles.css' | url  }}">
    <style>
      :root {
        {% if color %}
          --post-color: {{color}};
        {% else %}
          --post-color: var(--links) {% endif %}--post-rotation1: {{[0, 15, 30, 45, 180] | random}}deg;
          --post-rotation2: {{[0, 15, 30, 45, 180] | random}}deg;
        }
    </style>
    <script src="{{ '/js/hsluv.js' | url  }}"></script>
  </head>

  <body>

    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="blob">
      <path fill="currentColor" class="blob-1" d="M 129.256 45.475 C 134.456 65.575 113.556 89.875 89.656 106.375 C 65.756 122.775 38.856 131.375 23.156 120.875 C 7.556 110.375 3.056 80.775 11.356 56.375 C 19.556 31.975 40.656 12.775 66.756 11.175 C 92.856 9.475 124.156 25.375 129.256 45.475 Z"/>
      <path fill="currentColor"  class="blob-2" d="M 178.029 80.881 C 183.229 100.981 173.479 141.292 149.579 157.792 C 125.679 174.192 87.629 166.781 71.929 156.281 C 56.329 145.781 51.829 116.181 60.129 91.781 C 68.329 67.381 89.429 48.181 115.529 46.581 C 141.629 44.881 172.929 60.781 178.029 80.881 Z"/>
    </svg>

    <header class="header">
      <nav class="header-nav">
        <ol class="breadcrumbs" aria-label="fil d’arianne">
          {% include "breadcrumbs.njk" %}
        </ol>
      </nav>
      {% include "navigation.njk" %}
    </header>

    <main class="main">
      <div class="post">
        <div class="post-header">
          <h1 class="post-title">{{ eleventyNavigation.title }}</h1>

          <p class="post-subtitle">{{ eleventyNavigation.subtitle }}</p>
          {# <p class="post-date"><time datetime="{{ page.date }}" class="post-date-time">{{ page.date | postDate }}</time></p> #}

          <div class="post-tags">
            {% for tag in tags -%}
              {% if tag !== 'posts' %}
                <a class="post-tag" href="/tags/{{ tag }}">{{ tag }}</a>
              {% endif %}
            {%- endfor %}
            <span class="post-tag">
              {{ color }}
            </span>
            <span class="post-tag-color" style="background-color: {{ color }}">&nbsp;</span>
          </div>

        </div>
        {% if content | toc %}
          <details class="toc-toc">
            <summary class="toc-toc-summary">Dans cette page</summary>
            {{ content | toc | safe }}
          </details>
        {% endif %}
        {{ content | safe }}
      </div>
    </main>

    {% include "pager.njk" %}
    {# <footer class="footer">
      <p>Site réalisé grâce à <a href="https://www.11ty.dev">{{ eleventy.generator }}</a> - Le contenu de ce site est totalement libre.</p>
    </footer> #}

    <script>
      const userPrefersDark = window.matchMedia && window
        .matchMedia('(prefers-color-scheme: dark)')
        .matches;

      const userPrefersLight = window.matchMedia && window
        .matchMedia('(prefers-color-scheme: light)')
        .matches;


      const root = document.querySelector("body");
      const postColor = getComputedStyle(root).getPropertyValue("--post-color");
      console.log(postColor);
      function lightnessToHex(color, lightness) {
        return hsluv.hsluvToHex([
          hsluv.hexToHsluv(color)[0],
          hsluv.hexToHsluv(color)[1],
          lightness
        ]);
      }

      if (userPrefersDark) {
        root
        .style
        .setProperty("--post-color", lightnessToHex("{{ color }}", 20));
      } else if (userPrefersLight) {
        root
        .style
        .setProperty("--post-color", postColor);
      }

    </script>

  </body>

</html>