<!DOCTYPE html>
<html lang="{{ metadata.language }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ eleventyNavigation.title }} - {{ metadata.sitename }}</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="description" content="{{ description or metadata.description }}">
  </head>

  <body style="background-image: url(/img/headers/{{ cover }})">
    <header>
      <nav>
        <ol class="breadcrumbs" aria-label="fil d’arianne">
          {# https://mvolkmann.github.io/blog/eleventy/plugins/navigation-plugin/ #}
          {% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
          {% for crumb in crumbs %}
          <li>
            {% if loop.index != 1 %}
              <span class="breadcrumbs-separator">/</span>
            {% endif %}
            <a class="crumb {{ 'breadcrumbs-home' if loop.index == 1 }}" href="{{ crumb.url | url }}">{{ crumb.title }}</a>
          </li>
          {% endfor %}
          <li>
            <span class="breadcrumbs-separator">/</span>
            <strong>{{ eleventyNavigation.title }}</strong>
          </li>
        </ol>
      </nav>
    </header>
    <main class="main">
      {# <img src="{{ cover }}" alt=""> #}

      <div class="post">
        <h1>{{ eleventyNavigation.title }}</h1>
        <p class="post-date"><time datetime="{{ page.date }}" class="post-date-time">{{ page.date | postDate }}</time></p>
        
        <aside class="toc">
        {{ content | toc | safe }}
        </aside>
        {{ content | safe }}
      </div>
    </main>

    {# https://www.mikeaparicio.com/posts/2022-08-19-nested-navigation-in-eleventy/ #}
    {% set navPages = collections.all | eleventyNavigation %}
    {% macro renderNavListItem(entry) %}
      {% if entry.children.length %}
        {% if entry.url == page.url %}
          <li aria-current="page">{{ entry.title }}
          {% else %}
            <li>
              <a href="{{ entry.url }}">{{ entry.title }}</a>
               {# {{ entry.excerpt }} #}
            {% endif %}
            <ul role="list">
              {%- for child in entry.children %}{{ renderNavListItem(child) }}
              {% endfor -%}
            </ul>
          </li>

        {% else %}
          {% if entry.url == page.url %}
            <li aria-current="page">{{ entry.title }}
            {% else %}
              <li>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              {% endif %}
            {%- endif -%}
          {%- endmacro %}

          <nav class="navigation">
            <h2 class="navigation-title">Navigation</h2>
            <ul class="navigation-list" role="list">
              {%- for entry in navPages %}
                {{ renderNavListItem(entry) }}
              {%- endfor -%}
            </ul>
          </nav>
          <footer class="footer">
            <p>Site réalisé grâce à <a href="https://www.11ty.dev">{{ eleventy.generator }}</a> - Le contenu de ce site est totalement libre.</p>
          </footer>
        </body>

      </html>
