<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title }} -  Shinze</title>
    <link rel="stylesheet" href="/prism-light.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
      <main class="main">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </main>


      <h2>Navigation</h2>

      {% set navPages = collections.all | eleventyNavigation %}
      {% macro renderNavListItem(entry) %}
        {% if entry.children.length %}
          {% if entry.url == page.url %}
            <li aria-current="page">{{ entry.title }}
          {% else %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a>
          {% endif %}
            <ul role="list">
              {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
            </ul>
          </li>

        {% else %}
          {% if entry.url == page.url %}
            <li aria-current="page">{{ entry.title }}
          {% else %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a>
          {% endif %}
        {%- endif -%}
      {%- endmacro %}


      <nav>
        <ul class="nav-list" role="list">
        {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
        </ul>
      </nav>

      <footer class="footer">
        <p>Site réalisé grâce à <a href="https://www.11ty.dev">{{ eleventy.generator }}</a> - Le contenu de ce site est totalement libre.</p>
      </footer>




      </body>

    </html>