{# https://mvolkmann.github.io/blog/eleventy/plugins/navigation-plugin/ #}

<nav class="header-nav">
  <ol class="breadcrumbs" aria-label="fil d’arianne">
  {% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
  {% for crumb in crumbs %}
    <li>
      {% if loop.index != 1 %}
        <span class="breadcrumbs-separator">/</span>
      {% endif %}
      <a class="crumb {{ 'breadcrumbs-home' if loop.index == 1 }}" href="{{ crumb.url | url }}">{{ crumb.title }}</a>
    </li>

  {% endfor %}

  <li>
    <span class="breadcrumbs-separator">/</span>
    <strong>{{ eleventyNavigation.title }}</strong>
  </li>
  </ol>
</nav>
