---
layout: base.njk
---


<div class="post">
  <div class="post-header">
    <h1 class="post-title">{{ eleventyNavigation.title }}</h1>

    <p class="post-subtitle">{{ eleventyNavigation.subtitle }}</p>
    {# <p class="post-date"><time datetime="{{ page.date }}" class="post-date-time">{{ page.date | postDate }}</time></p> #}

    {% include "post-tags.njk" %}

  </div>
  {% if content | toc %}
    <details class="toc-toc">
      <summary class="toc-toc-summary">Dans cette page</summary>
      {{ content | toc | safe }}
    </details>
  {% endif %}

  {{ content | safe }}

</div>

{% include "pager.njk" %}