/* https://github.com/antfu/prism-theme-vars?ref=morioh.com&utm_source=morioh.com */
@import url(/prism-base.css);

:root {
  --fz1: 4rem;
  --fz2: 3rem;
  --fz3: 2.25rem;
  --fz4: 1.5rem;
  --fz5: 1.25rem;
  --fz6: 1rem;
  --fz7: .8125rem;
  --rounded-small: .25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt : rgb(184, 177, 225);
    --txt-softer: rgb(80, 80, 120);
    --bg: #1c1a2f;
    --bg-alternate: rgba(0, 0, 0, .3);
    --links: #37e7de; /* #3740ff */
    --links-hover: #a9f1ed;
    --links-visited: #deabff;
    --selected: #0f1010;
    --callout-bg: rgb(19, 19, 31);
    --callout-border: #101b29;
    --font-weight: 350;

    /* Prism */
    --prism-foreground: var(--txt);
    --prism-background: var(--bg);
    --prism-comment: #17988d;
    --prism-string: #c67b5d;
    --prism-literal: #3a9c9b;
    --prism-keyword: #00a6ff;
    --prism-function: #849145;
    --prism-deleted: #a14f55;
    --prism-class: #2b91af;
    --prism-builtin: #ac53c1;
    --prism-property: #d57650;
    --prism-namespace: #c96880;
    --prism-punctuation: #8e8f8b;
    --prism-decorator: #bd8f8f;
    --prism-json-property: #698c96;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --txt : #283045;
    --txt-softer: rgb(211, 211, 211);
    --bg: #fff;
    --bg-alternate: rgb(226, 238, 245);
    --links: #2f5dc7; /* #3740ff */
    --links-hover: #1f315b;
    --links-visited: #4a1785;
    --selected: #b3d4fc;
    --callout-bg: #d3e7ff;
    --callout-border: #b3d4fc;

    /* Prism */
    --prism-foreground: var(--txt);
    --prism-background: var(--bg);
    --prism-comment: #707070;
    --prism-string: #0072ca;
    --prism-literal: #007f6f;
    --prism-keyword: #547c00;
    --prism-function: #c300d3;
    --prism-deleted: #c300d3;
    --prism-class: #0079a0;
    --prism-builtin: #8047ff;
    --prism-property: #a75f00;
    --prism-namespace: #007d81;
    --prism-punctuation: #00814b;
    --prism-decorator: #517d00;
    --prism-json-property: #836f00;
  }
}

* {
  margin: 0;
}

::selection {
  background-color: var(--selected);
}

html {
  font-family: Segoe UI, system-ui, -apple-system, sans-serif;
  /* font-size: clamp(0.8125rem, 0.6195rem + 1.0294vw, 1.25rem); */
  font-size: clamp(1rem, 0.7153rem + 1.6368vw, 1.5rem);
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-weight: var(--font-weight);
}

body {
  color: var(--txt);
  background-color: var(--bg);
  margin: 0;
  padding:  0;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 80vw auto;
}


*,*::before, *::after {
  box-sizing: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6, li {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

/* Typographie */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: var(--fz1);
  margin-bottom: var(--fz1);
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: var(--fz2);
  margin-bottom: var(--fz4);
  margin-top: var(--fz2);
}

h3 {
  font-size: var(--fz3);
  margin-bottom: var(--fz5);
  margin-top: var(--fz2);
}

h4 {
  font-size: var(--fz4);
  margin-bottom: var(--fz4);
  margin-top: var(--fz2);
}

h5 {
  font-size: var(--fz5);
  margin-bottom: var(--fz5);
  margin-top: var(--fz3);
}

h6 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
}

a {
  color: var(--links);
  text-underline-offset: .1rem;
  transition: all .3s;
  text-decoration-thickness: .1rem;
}

a:hover,
a:focus {
  text-decoration-thickness: 2px;
  text-underline-offset: .1rem;
  text-decoration-skip: auto;
  color: var(--links-hover)
}

/* a:visited {
  color: var(--links-visited);
} */

[aria-current="page"] {
  font-weight: bold;
}

p, ol, ul, pre {
  margin-bottom: var(--fz6);
}

.toc-toc + p,
.toc-toc + h2 + p {
  font-size: var(--fz5);
  margin-bottom: var(--fz5);
}

ul, ol {
  padding-left: 0;
}

li {
  margin-left: var(--fz6);
}

li::marker {
  color: var(--txt-softer);
}

ul ul {
  margin-bottom: 0;
}

code, pre {
  color: var(--prism-keyword);
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

code:not(pre[class*="language-"] code), pre {
  font-size: .8125em;
  border-top: 1px solid var(--bg-alternate);
  border-bottom: 1px solid var(--bg-alternate);
}

pre[class*="language-"] {
  margin-bottom: var(--fz2);
  position: relative;
}

pre[class*="language-"]::before {
  display: inline-block;
  padding: .25rem .5rem;
  font-size: .8rem;
  background-color: var(--bg);
  position: absolute;
  top: 0;
  right: 0;  
}

pre[class="language-html"]::before {
  content: "html";
}

pre[class="language-css"]::before {
  content: "css";
}

pre[class="language-js"]::before {
  content: "javascript";
}

pre[class="language-svg"]::before {
  content: "svg";
}


/* Contenu principal, navigation, layout */
.post {
  padding-top: calc(var(--fz1) * 2);
}

.post h1 {
  position: relative;
}
 
.post h1::after {
  content: "";
  display: block;
  width: clamp(40rem, 60vw, 100vw);
  height: 100vh;
  background: var(--bg);
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  top: 2rem;
  z-index: -1;
}

.post > * {
  /* TODO: à revoir */
  max-width: clamp(40rem, 60vw, 100vw);
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
}

.post li {
  margin-bottom: var(--fz7);
}


.post-date {
  font-size: var(--fz7);
  color: var(--txt-softer);
}

.post-date-time {

}

pre[class*="language-"] {
  max-width: 100%;
  padding: clamp(1rem, 5%, var(--fz1));
  border-radius: 0;
}

.navigation {
  max-width: clamp(40rem, 60vw, 100vw);
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
}

.navigation a {
  text-decoration: none;
}

.navigation-title {
  font-weight: bold;
  font-size: var(--fz5);
}

.navigation-list {}

.navigation-list ul {
  margin-bottom: var(--fz6)
}


/* Navigation haute */

.nav {
  margin-bottom: var(--fz2);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: .25rem
}

.nav a {
  display: inline-block;
  padding: .25rem .5rem;
}

.nav [aria-current="page"] {
  text-decoration: none;
  background-color: var(--links);
  color: white;
}

/* Contenu principal */

.main {
  margin-bottom: var(--fz3); 
}

/* Pied de page */
.footer {
  padding: var(--fz6);
  font-size: var(--fz7);
  border-top: 1px solid var(--txt-softer);
  background-color: var(--bg);
}

/* Callout */

.callout {
  background-color: var(--bg-alternate);
  padding: var(--fz2);
  margin-bottom: var(--fz2);
  border-left: var(--txt) .125rem solid;
}

.callout h2 {
  font-size: var(--fz4);
  margin-bottom: var(--fz6);
}

.callout h3 {
  font-size: var(--fz5);
  margin-bottom: var(--fz6);
}

.callout h4 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
}

.callout h5 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
}

.callout h6 {
  font-size: var(--fz7);
  margin-bottom: var(--fz7);
}


.callout :last-child {
  margin-bottom: 0;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  font-size: .75rem;
  list-style: none;
  padding: 1rem;
  display: flex;
  column-gap: 1ch;
  flex-wrap: wrap;
  flex: 100vw;
  background: var(--bg);
  border-bottom: 1px solid var(--txt-softer);
}

.breadcrumbs li {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.crumb {
  text-decoration: none;
}

.breadcrumbs-home,
.breadcrumbs-home:visited {
}

/* Table of contents */

.toc-toc {
  padding-top: var(--fz4);
  padding-bottom: var(--fz4);
  border-top: 1px solid var(--txt-softer);
  border-bottom: 1px solid var(--txt-softer);
  margin-bottom: var(--fz2);
}

.toc ol {
  margin-bottom: 0;
}

/* A blob */

.blob {
  background-color: transparent;
  position: fixed;
  width: 80vw;
  top: 0;
  left: -50%;
  z-index: -1;
}

/* A blog without tags is not a blog */

.post-tags {
  margin-bottom: var(--fz4);
}

.post-tag {
  text-decoration: none;
  border-radius: .25rem;
  color: (--links);
  display: inline-block;
  border: 1px solid currentColor;
  font-size: .75rem;
  display: inline-block;
  padding: 0 .5rem;
}

/* We do need CTA */

.cta {
  display: inline-block;
  background-color: var(--links);
  color: var(--bg);
  padding: 0 .5rem;
  border-radius: .25rem;
  text-decoration: none;
  font-weight: bold;
}

.cta:hover,
.cta:focus {
  background-color: var(--txt);
  color: var(--bg);  
}