/* https://www.brianperry.dev/til/2021/adding-simple-pagination-to-an-11ty-collection/ */
/* https://github.com/antfu/prism-theme-vars?ref=morioh.com&utm_source=morioh.com */
@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:500,500i);
@import url('https://rsms.me/inter/inter.css');
@import url(/prism-base.css);
html { font-family: 'Inter', Segoe UI, system-ui, -apple-system, sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', Segoe UI, system-ui, -apple-system, sans-serif; }
}

:root {
  --fz1: 3.5em;
  --fz2: 2.25rem;
  --fz3: 1.75rem;
  --fz4: 1.5rem;
  --fz5: 1.25rem;
  --fz6: 1rem;
  --fz7: .8125rem;
  --rounded-small: .25rem;

  --prism-block-padding-x: 1em;
  --prism-block-padding-y: 1em;
  --prism-block-margin-x: auto;
  --prism-block-margin-y: auto;
  --prism-block-radius: 0.5rem;
  --prism-font-family: 'IBM Plex Mono', monospace;
  --prism-line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt           : #cfdaf2;
    --txt-softer    : rgb(80, 80, 120);
    --bg            : #111827;
    --bg-alt1       : #0b1323;
    --bg-alt2       : #252f46;
    --links         : #37e7de;                   /* #3740ff */
    --links-hover   : #a9f1ed;
    --links-visited : #deabff;
    --selected      : #0f1010;
    --callout-bg    : rgb(19, 19, 31);
    --callout-border: #101b29;
    --font-weight   : 350;
    --bg-invert     : 1;

    /* Prism */
    --prism-foreground   : var(--txt);
    --prism-background   : var(--bg-alt1);
    --prism-comment      : #4DA164;
    --prism-string       : #519D96;
    --prism-literal      : #5698BB;
    --prism-keyword      : #6690DE;
    --prism-function     : #769C4C;
    --prism-deleted      : #8D974C;
    --prism-class        : #9783DE;
    --prism-builtin      : #B28B4C;
    --prism-property     : #BF72E0;
    --prism-namespace    : #D27B4C;
    --prism-punctuation  : #E15CD5;
    --prism-decorator    : #E76786;
    --prism-json-property: #E96A60;

  }
}

@media (prefers-color-scheme: light) {
  :root {
    --txt           : #111827;
    --txt-softer    : rgb(211, 211, 211);
    --bg            : #F4F5FA;
    --bg-alt1       : #fff;
    --bg-alt2       : rgba(132, 128, 255, 0.2);
    --links         : #2f5dc7;                   /* #3740ff */
    --links-hover   : #1f315b;
    --links-visited : #4a1785;
    --selected      : #b3d4fc;
    --callout-bg    : #d3e7ff;
    --callout-border: #b3d4fc;
    --bg-invert     : 0;

    /* Prism */
    --prism-foreground   : var(--txt);
    --prism-background   : var(--bg-alt1);
    --prism-comment      : #306A40;
    --prism-string       : #336762;
    --prism-literal      : #36637B;
    --prism-keyword      : #366573;
    --prism-function     : #4C662F;
    --prism-deleted      : #5C622F;
    --prism-class        : #6944C6;
    --prism-builtin      : #745A2F;
    --prism-property     : #893BA6;
    --prism-namespace    : #8A4F2F;
    --prism-punctuation  : #96388E;
    --prism-decorator    : #A53A2F;
    --prism-json-property: #A83254;

  }
}

* {
  margin: 0;
}

::selection {
  background-color: var(--txt);
  color: var(--bg)
}

html {
  /* font-size: clamp(0.8125rem, 0.6195rem + 1.0294vw, 1.25rem); */
  font-size: clamp(1rem, 0.5rem + 1.6368vw, 1.5rem);
  /* font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; *
  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-smoothing: grayscale;
  font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum" 0, "zero" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04", "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp", "kern";
  line-height: 1.6;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-weight: var(--font-weight);
}

body {
  color: var(--txt);
  background-color: var(--bg);
  margin: 0;
  padding:  0;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 0 0;
}


*,*::before, *::after {
  box-sizing: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6, li {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

/* Typographie */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: var(--fz1);
  font-weight: bold;
  line-height: 1;
  margin-bottom: var(--fz7);
  letter-spacing: -0.022em;
}

h2 {
  font-size: var(--fz2);
  margin-bottom: var(--fz4);
  margin-top: calc(var(--fz2) * 2);
  letter-spacing: -0.022em;
}

h3 {
  font-size: var(--fz3);
  margin-bottom: var(--fz5);
  margin-top: var(--fz1);
}

h4 {
  font-size: var(--fz4);
  margin-bottom: var(--fz4);
  margin-top: var(--fz1);
}

h5 {
  font-size: var(--fz5);
  margin-bottom: var(--fz5);
  margin-top: var(--fz3);
}

h6 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
}

a {
  color: var(--links);
  /* text-underline-offset: .1rem; */
  transition: all .3s;
  /* text-decoration-thickness: .1rem; */
}

a:hover,
a:focus {
  color: var(--links-hover)
}

/* a:visited {
  color: var(--links-visited);
} */

[aria-current="page"] {
  font-weight: bold;
}

p, ol, ul, pre {
  margin-bottom: var(--fz2);
  letter-spacing: -0.019em;
}

ul, ol {
  padding-left: 0;
}

ul ul {
  margin-bottom: 0;
}

code, pre {
  color: var(--prism-keyword);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
}

code:not(pre code) {
  background-color: var(--bg-alt2);
  border-radius: .2rem;
  padding: .0625rem .25rem;
  white-space: nowrap;
}

pre[class*="language-"] {
  /* max-width: 100%; */
  font-size: .8rem;
  font-weight: 600;
  padding: clamp(1rem, 5%, var(--fz3));
  position: relative;
  margin-bottom: var(--fz2);
  background-color: var(--prism-background);
}

pre[class*="language-"] + pre[class*="language-"] {
  margin-top: calc(var(--fz3) * -1);
}

pre[class*="language-"]::before {
  display: inline-block;
  padding: .25rem .5rem;
  font-size: .8rem;
  background-color: var(--bg);
  position: absolute;
  top: 0;
  right: 0;  
}

pre[class="language-html"]::before {
  content: "html";
}

pre[class="language-css"]::before {
  content: "css";
}

pre[class="language-js"]::before {
  content: "javascript";
}

pre[class="language-svg"]::before {
  content: "svg";
}




/* Contenu principal, navigation, layout */
.post {
  
}

.post-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-top: var(--fz1);
  text-align: center;

  /* background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.post-title {

}

.post-subtitle {
  font-weight: bold;
}

.post > * {
  /* TODO: à revoir */
  max-width: clamp(40rem, 60vw, 100vw);
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
}

.post li {
  margin-bottom: var(--fz7);
}


/* Navigation principale */

.navigation {
  font-size: .80rem;
}

.navigation a {
  text-decoration: none;
}

.navigation-title {
  font-weight: bold;
  font-size: var(--fz5);
}

.navigation-list > li > a {
  background: red;
}

.navigation-list > li > a {
  background: red;
}

.navigation-list ul {
  padding: 0;
  list-style: none;
  margin-bottom: var(--fz6);
}


/* Navigation haute */

.nav {
  margin-bottom: var(--fz2);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: .25rem
}

.nav a {
  display: inline-block;
  padding: .25rem .5rem;
}

.nav [aria-current="page"] {
  text-decoration: none;
  background-color: var(--links);
  color: white;
}

/* Contenu principal */

.main-layout {
  display: grid;
  grid-template-columns: 20vw 1fr;
}

.main {

}

.main li {
  margin-left: var(--fz6);
}

.main li::marker {
  color: var(--txt-softer);
}


/* Pied de page */
.footer {
  padding: var(--fz6);
  font-size: var(--fz7);
  border-top: 1px solid var(--txt-softer);
  background-color: var(--bg);
  mix-blend-mode: hard-light
}

/* Callout */

.callout {
  background-color: var(--bg-alt1);
  padding: var(--fz2);
  margin-bottom: var(--fz2);
  border-left: var(--prism-class) .125rem solid;
  color: var(--prism-class);
}

.callout pre[class*="language-"] {
  border: 1px solid var(--prism-class);
}

.callout a {
  color: inherit;
}

.callout h2,
.callout h3,
.callout h4,
.callout h5,
.callout h6 {
  margin-top: 0;
}

.callout h2 {
  font-size: var(--fz4);
  margin-bottom: var(--fz6);
}

.callout h3 {
  font-size: var(--fz5);
  margin-bottom: var(--fz6);
}

.callout h4 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
}

.callout h5 {
  font-size: var(--fz6);
  margin-bottom: var(--fz6);
}

.callout h6 {
  font-size: var(--fz7);
  margin-bottom: var(--fz7);
}


.callout :last-child {
  margin-bottom: 0;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  font-size: .75rem;
  font-weight: 500;
  list-style: none;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1ch;
}

.crumb {
  color: var(--txt);
  text-decoration: underline;
}

.breadcrumbs li {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  column-gap: 1ch;
}

.breadcrumbs-home {
  font-weight: 900;
  text-transform: uppercase;
  background: var(--txt);
  color: var(--bg);
  text-decoration: none;
  padding: 0 .25rem;
}

.breadcrumbs-home:hover,
.breadcrumbs-home:focus {
  color: var(--bg);
  transform:scale(1.2) rotate(3deg)
}




/* Table of contents */

.toc-toc {
  padding-top: var(--fz5);
  padding-bottom: var(--fz5);
  margin-top: var(--fz5);
}

.toc-toc[open] {
  transition: all .4s;
}

.toc-toc + p {
  font-size: var(--fz5);
  letter-spacing: -0.022em;
}

.toc-toc-summary {
  font-size: var(--fz6);
  color: var(--links);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: var(--fz6);
}

.toc-toc-summary:hover,
.toc-toc-summary:focus {
  color: var(--links-hover)
}

.toc-toc-summary::-webkit-details-marker {
  display: none;
}

.toc-toc-summary::marker {
  display: none;
}

.toc-toc-summary:before {
  content: "";
  font-weight: bold;
  width: .5rem;
  height: .5rem;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  border-top: 0;
  transform: rotate(45deg) translateY(-40%);
  transition: all .3s;
}

.toc-toc[open] .toc-toc-summary:before {
  transform: rotate(-45deg) translateY(50%);
  
  border-bottom: 0;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor; 
}

.toc ol {
  margin-bottom: 0;
}

/* A blob */

.blob {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  top: -70vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  /* filter: blur(100px); */
}

.blob-1 {
  transform: rotate(var(--rotation1));
}

.blob-2 {
  transform: rotate(var(--rotation2));
}

@media (prefers-color-scheme: dark) {
  .blob {
    color: var(--post-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  .blob {
    color: var(--post-color);
  }
}



/* A blog without tags is not a blog */

.post-tags {
  margin-bottom: var(--fz4);
  display: flex;
  align-items: center;
  gap: .5rem;
}

.post-tag {
  text-decoration: none;
  border-radius: .25rem;
  color: (--links);
  display: inline-block;
  font-size: .75rem;
  display: inline-block;
  padding: 0 .5rem;
  font-family: var(--prism-font-family);
  font-weight: 500;
  background-color: var(--bg);
}

.post-tag-color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1000rem;
  border: 1px solid var(--txt);
}

/* We do need CTA */

.cta {
  display: inline-block;
  background-color: var(--links);
  color: var(--bg);
  padding: 0 .5rem;
  border-radius: .25rem;
  text-decoration: none;
  font-weight: bold;
}

.cta:hover,
.cta:focus {
  background-color: var(--txt);
  color: var(--bg);  
}

/* Codepen, à virer quand j’ai du temps */

.livecode {
  
}

.livecode-iframe {
  width: 100%;
}


/* Pager */

.pager {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4px;
}

.pager-item {
  margin: 0;
  flex: 1;
}



.pager-item-next {
  text-align: right;
}

.pager-item a {
  text-decoration: none;
  font-weight: bold;
  background-color: var(--bg-alt1);
  padding: var(--fz3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.pager-item a:hover,
.pager-item a:focus {
  background-color: var(--bg-alt2);
}

.pager-item-label {
  font-weight: normal;
  color: var(--txt);
  font-size: var(--fz7);
  text-transform: uppercase;
}

.pager-item-subtitle {
  font-weight: normal;
  color: var(--prism-class)
}